/*Body style content start here*/
@font-face
{
    font-family: Raleway;
    src : url("/style/font/variable/Raleway-VariableFont_wght.ttf");
}

*
{
    font-family: Raleway, Arial;
}


body
{
    margin: 0;
}


#rsv {
    padding-top: 0px;
    width: 95%;
    margin:auto;
}
/*Body style content end here*/

/*Header style content start here*/
.rsv-header
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.rsv-header__list
{
    list-style-type: none;
}

.rsv-header__link
{
    text-decoration: none;
    color: black;
    margin-right: 2em;
    margin-left: 2em;
    padding-top: 2.5em;
}
.rsv-header__link-2
{
    text-decoration: none;
    color: #0065FC;
    margin-right: 2em;
    margin-left: 2em;
    padding-top: 2.5em;
}

.rsv-header__link:hover
{
    text-decoration: none;
    color: #0065FC;
    border-top: 2px solid;
    border-top-color: #0065FC;
    margin-right: 2em;
    margin-left: 2em;
    padding-top: 2.5em;
}

.rsv-header__img
{
    padding-top: 1.5em;
}
/*Header style content end here*/

.rsv-search
{
    width: fit-content;
}

.rsv-search__icon
{
    margin-right: 1em;
    border: 1px solid;
    border-color: #F2F2F2;
    padding: 15px;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.rsv-search__serchbar
{
    padding: 1em;
    font-size: 1em;
    border: none;
    margin-right: 0px;
}
.rsv-search__serchbar:focus
{
    padding: 1em;
    font-size: 1em;
    border: none;
    margin-right: 0px;
    outline-width: 0;
}

.rsv-search__button
{
    padding: 1em;
    background: #2196F3;
    color: white;
    font-size: 1em;
    border: none;
    cursor: pointer;
    margin-left: 0px;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.rsv-filter__list
{
    list-style-type: none;
    display: flex;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.rsv-filter__modal
{
    margin-right: 1em;
    color:#0065FC;
    border: 2px solid;
    border-color: #F2F2F2;
    border-radius: 2em;
    display: inline-block;
    height: fit-content;
    width: fit-content;


}

.rsv-filter__icon
{
    margin-right: 1em;
    border: 1px solid;
    border-color: #DEEBFF;
    border-radius: 2em;
    padding: 1em;
    background-color: #DEEBFF;
}

.rsv-filter__icon:hover
{
    margin-right: 1em;
    border-radius: 2em;
    padding: 1em;
    background-color:#2196F3;
    color: white;
}

.rsv-filter--ifam
{
    height: 0.8em;
}

.rsv-filter__title
{
    padding-right: 1em;
}

.rsv-filter--txt
{
    color: black;
    padding-right: 1.5em;
}

.rsv-info
{
    display: flex;
    align-items: center;
}

.rsv-info--icon
{
    color: white;
    background-color: #0065FC;
    margin-right: 1em;
    border: 0.5px solid;
    border-color: grey;
    border-radius: 1em;

}

.rsv-lodging--container
{
    display: flex;
    justify-content: space-evenly;
}

.rsv-lodging--classic
{
    background-color: #F2F2F2;
    width: 70%;
    flex-direction: column;
    padding: 2em;
    border-radius: 1.5em;
}

#hebergements
{
    margin-bottom: 1.5em;
}



.rsv-lodging--images
{
    width: 100%;
    height: 8em;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}

.rsv-lodging--images__pop
{
    width: 11em;
    height: 11em;
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
}

.rsv-lodging--list
{
    display: flex;
}

.rsv-lodging--poplist
{
    list-style-type: none;
}

.rsv-lodging--rating
{
    list-style-type: none;
    display: flex;
}

.rsv-lodging--classic-card
{
    background-color: white;
    border-radius: 1.5em;
    margin-right: 2em;
    margin-bottom: 2.5em;
    padding: 0.5em;

}

.rsv-lodging--classic-carcontent
{
    list-style-type: none;
    margin-left: 1em;
}

.rsv-lodging--print-more
{
    padding:0.5em;
    margin-top: 2em;
}

.checked
{
    color: #0065FC;
}

.rsv-lodging--pophead
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.rsv-lodging--popular
{
    background-color: #F2F2F2;
    width: 30%;
    flex-direction: column;
    padding: 2em;
    border-radius: 1.5em;
    margin-left: 2.5em;
}

.rsv-popular--card
{
    display: flex;
    background-color: white;
    border: 1px solid white;
    border-radius: 1.5em;
    padding: 0.5em;
    margin-bottom: 2.5em;
}

.rsv-popular--cardcontent
{
    flex-direction: column;
    justify-content: center;
    margin-left: 2em;

}

.rsv-popular__rating
{
    margin-top: 4em;
}

.rsv-activities--imagexl
{
    width: 100%;
    height: 90%;
    border-top-left-radius: 2.5em;
    border-top-right-radius: 2.5em;
}

.rsv-activities--imagesm
{
    width: 100%;
    height: 80%;
    border-top-left-radius: 2.5em;
    border-top-right-radius: 2.5em;
}

.rsv-activities--container
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8em;
}

.rsv-activities--card1
{
    height: 40em;
    width: 25em;
    background-color: white;
    border-radius: 2.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rsv-activities--card2
{
    height: 18em;
    width: 25em;
    border-radius: 2.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rsv-activities__carddouble
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rsv-activities--headers
{
    margin-left: 2em;
}

#rsv-footer--container
{
    display: flex;
    background-color: #F2F2F2;
}

.rsv-footer--content
{
    margin-right: 30em;
    margin-top: 2em;
    margin-bottom: 2em;
    white-space: nowrap;
}

.rsv-footer__content1
{
    margin-left: 2.5em;
}

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 1246px) and (max-width: 1750px)
{
    .rsv-lodging--container
    {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .rsv-lodging--classic
    {
        background-color: #F2F2F2;
        width: 95%;
        flex-direction: column;
        padding: 2em;
        border-radius: 1.5em;
    }

    .rsv-lodging--list
    {
        display: flex;
        justify-content: space-between;
    }

    .rsv-lodging--classic-card
    {
        display: flex;
        background-color: white;
        border: 1px solid white;
        border-radius: 1.5em;
        padding: 0.5em;
        margin-bottom: 2.5em;
        width: 30%;
    }

    .rsv-lodging--classic-carcontent
    {
        flex-direction: column;
        justify-content: center;
        margin-left: 2em;
    }

    .rsv-lodging--images
    {
        width: 11em;
        height: 11em;
        border-top-left-radius: 1.5em;
        border-bottom-left-radius: 1.5em;
        border-top-right-radius: 0;
    }

    .rsv-lodging--pophead
    {
        display: flex;
        margin-bottom: 1em;
    }

    .rsv-lodging--popular
    {
        background-color: #F2F2F2;
        width: 95%;
        flex-direction: column;
        padding: 2em;
        border-radius: 1.5em;
        margin-left: 0;
        margin-top: 2em;
    }



    .rsv-lodging--poplist
    {
        display: flex;
        justify-content: space-evenly;
    }

    .rsv-popular--card
    {
        display: flex;
        background-color: white;
        border: 1px solid white;
        border-radius: 1.5em;
        padding: 0.5em;
        margin-bottom: 2.5em;
        margin-right: 2em;
        width: 30%;
    }

    .rsv-activities--container
    {
        flex-direction: column;
        margin-bottom: 8em;
    }

    .rsv-activities--card1
    {
        height: 40em;
        width: 100%;
        margin-bottom: 3em;
        background-color: white;
        border-radius: 2.5em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .rsv-activities--card2
    {
        height: 18em;
        width: 47%;
        margin-bottom: 3em;
        border-radius: 2.5em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .rsv-activities__carddouble
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    #activites
    {
        margin-top: 3em;
    }


    #rsv-footer--container
    {
        display: flex;
        background-color: #F2F2F2;
        justify-content: space-between;
    }

    .rsv-footer--content
    {
        margin-right: 4em;
        margin-top: 2em;
        margin-bottom: 2em;
        white-space: nowrap;
    }

}

@media all and (min-width: 270px) and (max-width: 1245px)
{
    .rsv-filter__title
    {
        padding-right: 1em;
        flex-wrap: wrap-reverse;
    }


    .rsv-lodging--container
    {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .rsv-lodging--classic
    {
        background-color: #F2F2F2;
        width: 95%;
        flex-direction: column;
        padding: 2em;
        border-radius: 1.5em;
        margin-left: 0;
        margin-top: 2em;
    }

    .rsv-lodging--list
    {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .rsv-lodging--classic-card
    {
        display: flex;
        background-color: white;
        border: 1px solid white;
        border-radius: 1.5em;
        padding: 0.5em;
        margin-bottom: 2.5em;
        margin-right: 2em;
        width: 100%;
    }

    .rsv-lodging--classic-carcontent
    {
        flex-direction: column;
        justify-content: center;
        margin-left: 2em;
        width: 50%;
    }

    .rsv-lodging--images
    {
        width: 50%;
        height: 300px;
        border-top-left-radius: 1.5em;
        border-bottom-left-radius: 1.5em;
        border-top-right-radius: 0;
    }

    .rsv-lodging--pophead
    {
        display: flex;
        margin-bottom: 1em;
    }

    .rsv-lodging--popular
    {
        background-color: #F2F2F2;
        width: 95%;
        flex-direction: column;
        padding: 2em;
        border-radius: 1.5em;
        margin-left: 0;
        margin-top: 2em;
    }


    .rsv-popular--card
    {
        display: flex;
        background-color: white;
        border: 1px solid white;
        border-radius: 1.5em;
        padding: 0.5em;
        margin-bottom: 2.5em;
        margin-right: 2em;
        width: 100%;
    }

    .rsv-lodging--images__pop
    {
        width: 50%;
        height: 300px;
        border-top-left-radius: 1.5em;
        border-bottom-left-radius: 1.5em;
    }



    .rsv-activities--container
    {
        flex-direction: column;
        margin-bottom: 8em;
    }

    .rsv-activities--card1
    {
        height: 40em;
        width: 100%;
        margin-bottom: 3em;
        background-color: white;
        border-radius: 2.5em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .rsv-activities--card2
    {
        height: 18em;
        width: 47%;
        margin-bottom: 3em;
        border-radius: 2.5em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .rsv-activities__carddouble
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    #activites
    {
        margin-top: 3em;
    }


    #rsv-footer--container
    {
        display: flex;
        background-color: #F2F2F2;
        justify-content: space-between;
    }

    .rsv-footer--content
    {
        margin-right: 4em;
        margin-top: 2em;
        margin-bottom: 2em;
        white-space: nowrap;
    }
}