/*Body style content start here*/
@font-face
{
    /*    font-family: Raleway;
        src : url("/style/font/variable/Raleway-VariableFont_wght.ttf");*/
}

*
{
    font-family: Raleway, Arial;
}


body
{
    margin: 0;
}


#rsv {
    padding-top: 0;
    width: 95%;
    margin:auto;
}

/*Body style content end here*/

/*Header style content start here*/
.rsv-header
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0;
    width: 95%;

}

.rsv-mediaheader
{
    display: none;
}

.rsv-header__link
{
    text-decoration: none;
    color: black;
    margin-right: 2em;
    margin-left: 2em;
    padding-top: 2.5em;
}
.rsv-header__inscription
{
    text-decoration: none;
    color: #0065FC;
    margin-right: 2em;
    margin-left: 2em;
    padding-top: 2.5em;
}

.rsv-header__mediainscription
{
    display: none;
}

.rsv-header__link:hover
{
    text-decoration: none;
    color: #0065FC;
    border-top: 2px solid;
    border-top-color: #0065FC;
    margin-right: 2em;
    margin-left: 2em;
    padding-top: 2.5em;
}

.rsv-header__logo
{
    padding-top: 1.5em;
}
/*Header style content end here*/

.rsv-search
{
    width: fit-content;
}

.rsv-search__icon
{
    margin-right: 1em;
    border: 1px solid;
    border-color: #F2F2F2;
    padding: 15px;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.rsv-search__mediaicon
{
    display: none;
}

.rsv-search__serchbar
{
    padding: 1em;
    font-size: 1em;
    border: none;
    margin-right: 0px;
}
.rsv-search__serchbar:focus
{
    padding: 1em;
    font-size: 1em;
    border: none;
    margin-right: 0px;
    outline-width: 0;
}

.rsv-search__button
{
    padding: 1em;
    background: #2196F3;
    color: white;
    font-size: 1em;
    border: none;
    cursor: pointer;
    margin-left: 0;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.rsv-search__mediabutton
{
    display: none;
}

.rsv-filter__list
{
    list-style-type: none;
    display: flex;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.rsv-filter__modal
{
    margin-right: 1em;
    color:#0065FC;
    border: 2px solid;
    border-color: #F2F2F2;
    border-radius: 2em;
    display: inline-block;
    height: fit-content;
    width: fit-content;
}

.rsv-filter__mediamodal
{
    display: none;
}

#rsv-filter__modal__fam
{
    margin-right: 1em;
    color:#0065FC;
    border: 2px solid;
    border-color: #F2F2F2;
    border-radius: 2em;
    display: inline-block;
    height: fit-content;
    width: fit-content;
}

.rsv-filter__icon
{
    margin-right: 1em;
    border: 1px solid;
    border-color: #DEEBFF;
    border-radius: 2em;
    padding: 1em;
    background-color: #DEEBFF;
}

.rsv-filter__icon:hover
{
    margin-right: 1em;
    border-radius: 2em;
    padding: 1em;
    background-color:#2196F3;
    color: white;
}

.rsv-filter__mediaicon
{
    display: none;
}

.rsv-filter--ifam
{
    height: 0.8em;
}

.rsv-filter__title
{
    padding-right: 1em;
}

.rsv-filter--txt
{
    color: black;
    padding-right: 1.5em;
}

.rsv-info
{
    display: flex;
    align-items: center;
}

.rsv-info--icon
{
    color: white;
    background-color: #0065FC;
    margin-right: 1em;
    border: 0.5px solid;
    border-color: grey;
    border-radius: 1em;

}

.rsv-info--mediaicon
{
    display: none;
}

#hebergements
{
    margin-bottom: 1.5em;
}


.rsv-lodging--container
{
    display: flex;
    justify-content: space-evenly;
}

.rsv-lodging--classic
{
    background-color: #F2F2F2;
    width: 70%;
    flex-direction: column;
    padding: 2em;
    border-radius: 1.5em;
}

.rsv-lodging--images
{
    width: 20em;
    height: 8em;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}



.rsv-lodging--list
{
    display: flex;
}

.rsv-lodging--poplist
{
    list-style-type: none;
}

.rsv-lodging--rating
{
    list-style-type: none;
    display: flex;
}

.rsv-lodging--classic-card
{
    background-color: white;
    border-radius: 1.5em;
    margin-right: 2em;
    margin-bottom: 2.5em;
    padding: 0.5em;

}

.rsv-lodging--classic-carcontent
{
    list-style-type: none;
    margin-left: 1em;
}

.rsv-lodging--print-more
{
    padding:0.5em;
    margin-top: 2em;
}

.rsv-lodging--pophead
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.rsv-popular__mediaicon
{
    display: none;
}

.rsv-lodging--popular
{
    background-color: #F2F2F2;
    width: 30%;
    flex-direction: column;
    padding: 2em;
    border-radius: 1.5em;
    margin-left: 2.5em;
}

.rsv-popular--card
{
    display: flex;
    background-color: white;
    border: 1px solid white;
    border-radius: 1.5em;
    padding: 0.5em;
    margin-bottom: 2.5em;
}

.rsv-popular--cardcontent
{
    flex-direction: column;
    justify-content: center;
    margin-left: 2em;

}

.rsv-lodging--images__pop
{
    width: 15em;
    height: 11em;
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
}

.rsv-popular__rating
{
    margin-top: 2em;
}

.checked
{
    color: #0065FC;
}


.rsv-activities--imagexl
{
    width: 100%;
    height: 90%;
    border-top-left-radius: 2.5em;
    border-top-right-radius: 2.5em;
}

.rsv-activities--imagesm
{
    width: 100%;
    height: 80%;
    border-top-left-radius: 2.5em;
    border-top-right-radius: 2.5em;
}

.rsv-activities--container
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8em;
}

.rsv-activities--card1
{
    height: 40em;
    width: 25em;
    background-color: white;
    border-radius: 2.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rsv-activities--card2
{
    height: 18em;
    width: 25em;
    border-radius: 2.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rsv-activities__carddouble
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rsv-activities--headers
{
    margin-left: 2em;
}

#rsv-footer--container
{
    display: flex;
    background-color: #F2F2F2;
}

.rsv-footer--content
{
    margin-right: 30em;
    margin-top: 2em;
    margin-bottom: 2em;
    white-space: nowrap;
}

.rsv-footer__content1
{
    margin-left: 2.5em;
}

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 1000px) and (max-width: 1750px)
{
    .rsv-lodging--container
    {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .rsv-lodging--classic
    {
        background-color: #F2F2F2;
        width: 95%;
        flex-direction: column;
        padding: 2em;
        border-radius: 1.5em;
    }

    .rsv-lodging--list
    {
        display: flex;
        justify-content: space-between;
    }

    .rsv-lodging--classic-card
    {
        display: flex;
        background-color: white;
        border: 1px solid white;
        border-radius: 1.5em;
        padding: 0.5em;
        margin-bottom: 2.5em;
        width: 30%;
    }

    .rsv-lodging--classic-carcontent
    {
        flex-direction: column;
        justify-content: center;
        margin-left: 2em;
    }

    .rsv-lodging--images
    {
        width: 50%;
        height: 11em;
        border-top-left-radius: 1.5em;
        border-bottom-left-radius: 1.5em;
        border-top-right-radius: 0;
    }

    .rsv-lodging--pophead
    {
        display: flex;
        margin-bottom: 1em;
    }

    .rsv-lodging--popular
    {
        background-color: #F2F2F2;
        width: 95%;
        flex-direction: column;
        padding: 2em;
        border-radius: 1.5em;
        margin-left: 0;
        margin-top: 2em;
    }



    .rsv-lodging--poplist
    {
        display: flex;
        justify-content: space-evenly;
    }

    .rsv-popular--card
    {
        display: flex;
        background-color: white;
        border: 1px solid white;
        border-radius: 1.5em;
        padding: 0.5em;
        margin-bottom: 2.5em;
        margin-right: 2em;
        width: 30%;
    }

    .rsv-activities--container
    {
        flex-direction: column;
        margin-bottom: 8em;
    }

    .rsv-activities--card1
    {
        height: 40em;
        width: 100%;
        margin-bottom: 3em;
        background-color: white;
        border-radius: 2.5em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .rsv-activities--card2
    {
        height: 18em;
        width: 47%;
        margin-bottom: 3em;
        border-radius: 2.5em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .rsv-activities__carddouble
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    #activites
    {
        margin-top: 3em;
    }


    #rsv-footer--container
    {
        display: flex;
        background-color: #F2F2F2;
        justify-content: space-between;
    }

    .rsv-footer--content
    {
        margin-right: 4em;
        margin-top: 2em;
        margin-bottom: 2em;
        white-space: nowrap;
    }

}


@media all and (min-width: 250px) and (max-width: 1000px)
{
    #rsv
    {
        padding-top: inherit;
        width: inherit;
        margin:inherit;
    }

    .rsv-media
    {
        display: inherit;
        padding-top: 0;
        width: 90%;
        margin:auto;
    }

    .rsv-header
    {
        display: flex;
        width: 100%;
        justify-content:space-between ;
    }

    .rsv-header__logo
    {
        width: 25%;
        margin-right: 40%;
        margin-left: 5%;
    }

    .rsv-header__mediainscription
    {
        display: inherit;
        text-decoration: none;
        color: #0065FC;
        font-size: 2em;
        margin: inherit;
        padding: inherit;
    }

    .rsv-header__inscription
    {
        display: none;
        text-decoration: none;
        color: #0065FC;
        font-size: 2em;
        margin: inherit;
        padding: inherit;
    }

    .rsv-header__link
    {
        display: none;
        margin: 0;
    }

    .rsv-mediaheader--container
    {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 3.5em;
    }

    .rsv-mediaheader
    {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .rsv-header__medialink1
    {
        text-decoration: none;
        color: black;
        border-bottom: 3px solid;
        border-bottom-color: #0065FC;
        font-size: 2.5em;
        padding-bottom: 0.7em;
        text-align: center;
        flex: 1;
    }

    .rsv-header__medialink2
    {
        text-decoration: none;
        color: black;
        border-bottom: 3px solid;
        border-bottom-color: lightgrey;
        font-size: 2.5em;
        padding-bottom: 0.7em;
        text-align: center;
        flex: 1;

    }


    .rsv-header__medialink:hover
    {
        text-decoration: none;
        color: #0065FC;
        border-bottom: 3px solid;
        border-bottom-color: #0065FC;
        font-size: 1.5em;
    }

    #rsv-searchsection--title {
        margin-top: 7%;
        font-size: 3em;
        flex-wrap: wrap;
    }

    .rsv-searchsection--content--paragraph
    {
        font-size: 2em;
    }

    .rsv-search
    {
        width: fit-content;
        border: 2px solid #F2F2F2;
        padding: 0;
        border-radius: 1.5em;
    }

    .rsv-searchsection--content
    {
        font-size: 1.5em;
    }

    .rsv-search__icon
    {
        display: none;
    }

    .rsv-search__mediaicon
    {
        display: inline;
        border: 1px solid;
        border-color: #F2F2F2;
        padding: 1.2em;
        background-color: #F2F2F2;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;

    }

    .rsv-search__serchbar
    {
        font-size: 1.5em;
        border: none;
        margin-top: 0;
        padding-top: 0.8em;
    }

    .rsv-search__serchbar:focus
    {
        padding: 2em;
        font-size: 1.5em;
        border: none;
        outline-width: 0;
    }

    .rsv-search__button
    {
        display: none;
    }

    .rsv-search__mediabutton
    {
        display: inline;
        padding: 1.2em;
        height: border-box;
        background: #2196F3;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 1em;
    }

    .rsv-filter__title
    {
        padding-right: 1em;
        flex-wrap: wrap-reverse;
        font-size: 2.5em;
    }

    .rsv-filter__list
    {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    .rsv-filter__modal
    {
        margin-right: 1em;
        color:#0065FC;
        border: 2px solid;
        border-color: #F2F2F2;
        border-radius: 4em;
        display: flex;
        align-items: center;
        height: fit-content;
        width: fit-content;
        margin-top: 1em;
    }

    .rsv-filter-align--ecoandfam
    {
        display: flex;
        flex-direction: row;
    }

    .rsv-filter__mediamodal
    {
        margin-right: 1em;
        color:#0065FC;
        border: 2px solid;
        border-color: #F2F2F2;
        border-radius: 4em;
        display: flex;
        align-items: center;
        height: fit-content;
        width: fit-content;
        flex-wrap: nowrap;
        align-self: center;
    }

    .rsv-filter__mediaicon
    {
        display: inherit;
        border: 1px solid;
        border-color: #DEEBFF;
        border-radius: 4em;
        padding: 1em;
        background-color: #DEEBFF;
        width: 1em;
        margin: 0;
    }


    .rsv-filter__icon
    {
        display: none;
        margin-right: 1em;
        border: 1px solid;
        border-color: #DEEBFF;
        border-radius: 3em;
        padding: 2.5em;
        background-color: #DEEBFF;
    }

    .rsv-filter--txt
    {
        color: black;
        font-size: 2.4em;
        margin-left: 1em;
        padding-right: 1em;
        flex-wrap: nowrap;
    }

    .rsv-filter--mediaorganiser
    {
        display: flex;
        flex-direction: row;
    }

    .rsv-info
    {
        display: flex;
        align-items: center;
    }

    .rsv-info--icon
    {
        display: none;

    }

    .rsv-info--mediaicon
    {
        display: inherit;
        color: white;
        background-color: #0065FC;
        margin-right: 0.5em;
        border: 0.5px solid;
        border-color: grey;
        border-radius: 1em;
    }

    .rsv-info--text
    {
        font-size: 2em;
    }

    .rsv-lodging--pophead
    {
        display: flex;
        margin-bottom: 1em;
        margin-left: 1em;
    }

    .rsv-popular__icon
    {
        padding-right: 1.2em;
    }

    .rsv-lodging--popular
    {
        background-color: #F2F2F2;
        width: auto;
        flex-direction: column;
        padding: 2em;
        border-radius: inherit;
        margin-left: 0;
        margin-top: 2em;
    }

    .rsv-popular-pophead--text
    {
        font-size: 3em;
    }

    .rsv-popular--card
    {
        display: flex;
        background-color: white;
        border: 1px solid white;
        border-radius: 1.5em;
        padding: 0.5em;
        margin-bottom: 2.5em;
        margin-right: 2em;
        width: auto;
    }

    .rsv-popular--cardcontent
    {
        flex-direction: column;
        justify-content: center;
        margin-left: 2em;
        font-size: 2em;
    }

    .rsv-popular__icon
    {
        display: none;
    }

    .rsv-popular__mediaicon
    {
        display: inherit;
    }

    .rsv-lodging--images__pop
    {
        width: 50%;
        height: 300px;
        border-top-left-radius: 1.5em;
        border-bottom-left-radius: 1.5em;
    }

    .rsv-lodging--container
    {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column-reverse;
        width:  auto;
    }

    #hebergements
    {
        font-size: 3em;
    }

    .rsv-lodging--classic
    {
        background-color: inherit;
        width: auto;
        flex-direction: column;
        padding: 2em;
        border-radius: 1.5em;
        margin-left: 0;
        margin-top: 2em;
    }

    .rsv-lodging--list
    {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .rsv-lodging--classic-card
    {
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 1px solid white;
        border-radius: 2em;
        padding: 0.5em;
        margin-bottom: 2.5em;
        margin-right: 2em;
        width: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .rsv-lodging--classic-carcontent
    {
        flex-direction: column;
        justify-content: center;
        margin-left: 2em;
        width: auto;
        margin-bottom: 0.5em;
        font-size: 2em;
    }

    .rsv-lodging--images
    {
        width: auto;
        height: 300px;
        border-top-right-radius: 1.5em;
        border-top-left-radius: 1.5em;
        padding: 0.5em;
    }

    .rsv-lodging--print-more
    {
        padding:0.5em;
        margin-top: 0;
        font-size: 3em;
    }

    #activites
    {
        margin-top: 0em;
        font-size: 3em;
    }

    .rsv-activities--container
    {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .rsv-activities--headers
    {
        margin-left: 2em;
        font-size: 2em;
    }

    .rsv-activities--card1
    {
        height: 40em;
        width: auto;
        margin-bottom: 3em;
        background-color: white;
        border-radius: 2.5em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .rsv-activities--card2
    {
        height: 40em;
        width: auto;
        margin-bottom: 3em;
        background-color: white;
        border-radius: 2.5em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .rsv-activities__carddouble
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .rsv-activities--imagexl
    {
        width: 100%;
        height: 80%;
        border-top-left-radius: 2.5em;
        border-top-right-radius: 2.5em;
    }

    .rsv-activities--imagesm
    {
        width: 100%;
        height: 80%;
        border-top-left-radius: 2.5em;
        border-top-right-radius: 2.5em;
    }

    #rsv-footer--container
    {
        display: flex;
        background-color: #F2F2F2;
        flex-direction: column;
        width: auto;
        padding: 1em;

    }

    .rsv-footer--content
    {
        margin-right: 0;
        margin-top: 0;
        margin-left: 1em;
        margin-bottom: 2em;
        white-space: nowrap;
        text-align: inherit;
        font-size: 2em;
    }

    .rsv-footer__content1
    {
        margin-left: 0;
        padding: 1em;
        text-align: inherit;
        margin-bottom: 0.5em;
    }
}
